---
layout: page
title: "Git Repos"
description: "My Git Repositories"
header-img: "img/about-bg.jpg"
---

{% for repository in site.github.public_repositories %}
{% if repository.name != 'ricktbaker.github.io' %}
<div class="post-preview">
    <a href="{{repository.html_url}}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-github fa-stack-2x"></i>
                            </span>
    </a>
    <b><a target="_blank" href="{{repository.html_url}}">{{ repository.name }}</a></b> <br />
    <div style="margin: 0 0 0 45px">
    {{ repository.description }}
    </div>
</div>
<hr>
{% endif %}
{% endfor %}

